In [1]:
import requests
from bs4 import BeautifulSoup

In [40]:
##### INDEED #####

# a job posting website (as well as resume hosting)
# scrape some (or A LOT) of job postings from indeed for the job "data scientist"
# Plan of Action:
# 1. Figure out the url for getting the summaries (by doing it yourself!)
# 2. Scrape the summary
# 3. Figure out how to change the page by changing the URL (hint, click the next page button and see how the url changes)
# 4. BONUS: count the most used words in the sumaries

import pandas as pd


url_stub = "http://www.indeed.com/jobs?q=data+scientist&l=San+Francisco%2C+CA"
r = requests.get(url)
b = BeautifulSoup(r.text, "lxml")
b.prettify()

word_dict = {}
count = 1
start = 10

while start < 1000:
    if count > 1:
        url = url_stub + '&start=' + str(start)
    else: url = url_stub
    r = requests.get(url)
    b = BeautifulSoup(r.text, "lxml")
    for span in b.findAll('span', attrs = {'class':'summary'}):
         for i in span:
                converted = unicode(i)
                words = converted.split()
                for i in words:
                    if i.lower() in word_dict:
                        word_dict[i.lower()] += 1
                    else:
                        word_dict[i.lower()] = 1
    count += 1
    start += 10

df = pd.DataFrame(word_dict.items(), columns = ['word','count'])

In [51]:
df.head()

                       word  count
0                   limited      3
1              specialized,      1
2  meetings/conferences....      1
3              engineer....      1
4                   dynamic      3

In [48]:
df.sort_values(by = 'count', ascending = False)

                      word  count
1127                   and   1725
620            <b>data</b>   1418
605                    the    825
1576                    to    751
2748                  with    716
1451                    of    675
560                     in    655
1733                     a    586
2650     <b>scientists</b>    477
1460                    or    461
129                   work    430
669                    for    340
1513                    as    340
161                machine    279
1637            experience    273
2876                  will    270
1511                    an    247
218                      ,    240
591                     on    222
826       <b>scientist</b>    219
2438             implement    212
951             monitoring    206
458              analytics    195
1529                   you    187
1515                    at    160
835                   team    160
554                     is    158
1393                 using    144
1631                strong    142
2588                   our    137
...                    ...    ...
507                  dmpk,      1
508               prospect      1
2194                 spins      1
510             (including      1
2192      experimentalists      1
512                written      1
2189              oakland,      1
1517                    az      1
513             initiative      1
2209        algorithms....      1
879   multi-dimensional...      1
1504              builders      1
2224            continuing      1
473              integrate      1
2233               valley,      1
475           occupational      1
479                impala)      1
2230           informatics      1
886         hardest-to-see      1
1494                  lab,      1
486                  html,      1
2214             packages.      1
487         crowdsourcing,      1
2221                    7+      1
883           reformatting      1
492              doctorate      1
1500              embedded      1
495           forecasting,      1
1501              testers,      1
2119          bioanalysis,      1

[3152 rows x 2 columns]

In [ ]:
#### UFO ######

# SCRAPE ALL SIGHTINGS in 2015
# Plan of action
# 1. Figure out the pattern to get a certain year and month from nuforc
# 2. Scrape each sightings
# 3. Make a dataframe out of it
# 4. make a day column
# 5. graph each day in 2015 and see which day had the most! (Is it July 4th?)

In [ ]:
##### TWITTER ######

# Create a dataframe where each row is a tweet that uses any tag you choose!
# include a column for date, text, user handle, user name, and user image
# You can use the normal query method and not stream for this!